.Head {
  display: flex;
  flex-direction: column;
  padding: 92px 0px 36px 60px;
  gap: 35px;

  /* 여기부터 추가수정 */
  margin-left: 6%;
}

.Header {
  display: flex;
  flex-direction: column;
}

.Header h1 {
  color: var(--text, #150a08);
  font-family: "LINE Seed Sans KR";
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: -0.5px;
}

.ctc {
  color: #f26c51;
}

.detail {
  color: var(--secondary-text, #7e7e7e);
  font-family: "LINE Seed Sans KR";
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.5px;
}