.LocationButton {
    display: flex;
    gap: 15px;
    padding: 0px 100px;
}

.LocationButton button{
    cursor: pointer;
    padding: 15px;
    width: 130px;
    color: #C5C5C5;
    background-color: white;
    border: 1px solid #C5C5C5;
    border-radius: 5px;
}

.postblock {
    padding: 40px 100px;
    display: flex;
    gap: 12px;
    flex-wrap: wrap;
}