.mypage-typecheck-button {
  padding-left: 85px;
  padding-top: 50px;
  margin-left: 5%;
  background: linear-gradient(180deg, #fff 0%, rgba(255, 255, 255, 0.7) 100%);
  width: 1600px;
  padding-bottom:74px;
}

.active-button {
  width: 110px;
  height: 42px;

  border: none;
  border-bottom: 1px solid var(--accent, #ef7057);
  background: #fff;

  /* text */
  color: var(--accent, #ef7057);
  font-family: "LINE Seed Sans KR";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -1px;
}

.inactive-button {
  width: 110px;
  height: 42px;

  border: none;
  border-bottom: 1px solid var(--accent, #d9d9d9);
  background: #fff;

  /* text */
  color: var(--buttons-secondary, #d9d9d9);
  font-family: "LINE Seed Sans KR";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -1px;
}
