.Signup {
  display: flex;
  flex-direction: column;
  width: 500px;
  margin: 0 auto;
  height: 754px;
}

.Signup > h1 {
  display: flex;
  justify-content: center;
}

.Signup p {
  display: flex;
  justify-content: left;
  padding-left: 10px;
}

.Signup > input {
  padding: 20px;
  border: 1px solid #c5c5c5;
  border-radius: 15px;
  margin-bottom: 20px;
}
